<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>K40 Whisperer</string>
	<key>CFBundleExecutable</key>
	<string>k40_whisperer</string>
	<key>CFBundleGetInfoString</key>
	<string>Scorch Works</string>
	<key>CFBundleIconFile</key>
	<string>emblem.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.scorchworks.k40_whisperer</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>K40 Whisperer</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>NSAppleScriptEnabled</key>
	<false/>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2017-2020, Scorch Works, GNU General Public License</string>
	<key>NSPrincipleClass</key>
	<string>NSApplication</string>
	<key>NSRequiresAquaSystemAppearance</key>
	<string>Yes</string>

	<key>CFBundleShortVersionString</key>
	<string>VERSION</string>
	<key>CFBundleVersion</key>
	<string>VERSION</string>
</dict>
</plist>
